USE [master]
GO
/****** Object:  Database [HomeworkSubmission]    Script Date: 02/23/2012 06:26:56 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'HomeworkSubmission')
BEGIN
CREATE DATABASE [HomeworkSubmission] ON  PRIMARY 
( NAME = N'HomeworkSubmission', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\HomeworkSubmission.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HomeworkSubmission_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\HomeworkSubmission_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HomeworkSubmission].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HomeworkSubmission]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 02/23/2012 06:26:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Students]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Students](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nchar](30) NOT NULL,
	[LastName] [nchar](30) NOT NULL,
	[Email] [nchar](30) NOT NULL,
	[AcademyID] [nchar](10) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Students] ON
INSERT [dbo].[Students] ([ID], [FirstName], [LastName], [Email], [AcademyID]) VALUES (1, N'Helen                         ', N'Thatcher                      ', N'seowendy@webmail.com          ', N'1_HETH    ')
INSERT [dbo].[Students] ([ID], [FirstName], [LastName], [Email], [AcademyID]) VALUES (2, N'Betty                         ', N'Wilson                        ', N'reasteven@yahoo.com           ', N'2_BEWI    ')
INSERT [dbo].[Students] ([ID], [FirstName], [LastName], [Email], [AcademyID]) VALUES (3, N'Lucy                          ', N'Jeffries                      ', N'kivlinda@example.com          ', N'3_LUJE    ')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[Students] OFF
/****** Object:  Table [dbo].[Courses]    Script Date: 02/23/2012 06:26:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Courses]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Courses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Courses] ON
INSERT [dbo].[Courses] ([ID], [Name], [IsActive]) VALUES (1, N'Enhance collaborative markets                                                                       ', 1)
INSERT [dbo].[Courses] ([ID], [Name], [IsActive]) VALUES (2, N'Orchestrate bleeding-edge systems                                                                   ', 1)
INSERT [dbo].[Courses] ([ID], [Name], [IsActive]) VALUES (3, N'Synthesize enterprise experiences                                                                   ', 1)
SET IDENTITY_INSERT [dbo].[Courses] OFF
/****** Object:  Table [dbo].[Users]    Script Date: 02/23/2012 06:26:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[PasswordSalt] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Users__A9D105342F10007B] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Users__C9F2845631EC6D26] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([ID], [UserName], [Password], [PasswordSalt], [Email], [FirstName], [LastName]) VALUES (1, N'Michaelerk13', N'1fZbHI1NU6emhVB7WpXH8lGtarw=', N'hY/DK6U0vkLyQZvebpPz575ofMMszdPupt6rCqvIDVI=', N'urganne@privacy.net', N'Robyn', N'Hall')
INSERT [dbo].[Users] ([ID], [UserName], [Password], [PasswordSalt], [Email], [FirstName], [LastName]) VALUES (2, N'Lucydgo1', N'I967yfWK+Zv/ogWJ0RJhc7FBPjg=', N'S0lQ7HXrhRW9nJ/BjJ74SLLtCOUM53y52h0rHeQB8Ik=', N'mhwsarah@gmail.com', N'Edgar', N'Williams')
INSERT [dbo].[Users] ([ID], [UserName], [Password], [PasswordSalt], [Email], [FirstName], [LastName]) VALUES (3, N'Annavko14', N'HLkkFkPEZTBoYVQ8qpB8GXg4JYk=', N'Swom2SSXhnom1iicDFEmK7ay5HUBWdzAw4Y0w53IA/E=', N'xktkenneth27@msn.com', N'David', N'Davidson')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[StudentsCourses]    Script Date: 02/23/2012 06:26:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StudentsCourses]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StudentsCourses](
	[StudentID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
 CONSTRAINT [PK_StudentsCourses] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[StudentsCourses] ([StudentID], [CourseID]) VALUES (1, 3)
INSERT [dbo].[StudentsCourses] ([StudentID], [CourseID]) VALUES (1, 5)
INSERT [dbo].[StudentsCourses] ([StudentID], [CourseID]) VALUES (1, 10)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
/****** Object:  Table [dbo].[Topics]    Script Date: 02/23/2012 06:26:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Topics]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Topics](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[Name] [nchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ActiveFrom] [date] NULL,
	[ActiveTo] [date] NULL,
 CONSTRAINT [PK_Topics] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Topics] ON
INSERT [dbo].[Topics] ([ID], [CourseID], [Name], [IsActive], [ActiveFrom], [ActiveTo]) VALUES (1, 1, N'Reinvent global experiences                                                                         ', 1, CAST(0x8F350B00 AS Date), CAST(0x29350B00 AS Date))
INSERT [dbo].[Topics] ([ID], [CourseID], [Name], [IsActive], [ActiveFrom], [ActiveTo]) VALUES (2, 1, N'Redefine scalable markets                                                                           ', 1, CAST(0x9F350B00 AS Date), CAST(0xAF350B00 AS Date))
INSERT [dbo].[Topics] ([ID], [CourseID], [Name], [IsActive], [ActiveFrom], [ActiveTo]) VALUES (3, 1, N'Facilitate real-time bandwidth                                                                      ', 1, CAST(0x6D350B00 AS Date), CAST(0x4C350B00 AS Date))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[Topics] OFF
/****** Object:  Table [dbo].[Submissions]    Script Date: 02/23/2012 06:26:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Submissions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Submissions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[TopicID] [int] NOT NULL,
	[UploadDate] [date] NOT NULL,
	[MIMEType] [nchar](50) NOT NULL,
	[FilePath] [nchar](255) NULL,
 CONSTRAINT [PK_Submissions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Submissions] ON
INSERT [dbo].[Submissions] ([ID], [StudentID], [CourseID], [TopicID], [UploadDate], [MIMEType], [FilePath]) VALUES (1, 194, 14, 201, CAST(0x5B350B00 AS Date), N'zip                                               ', N'Uploads\14_COURSE\201_TOPIC\194_ANMO                                                                                                                                                                                                                           ')
INSERT [dbo].[Submissions] ([ID], [StudentID], [CourseID], [TopicID], [UploadDate], [MIMEType], [FilePath]) VALUES (2, 194, 19, 272, CAST(0x5B350B00 AS Date), N'rar                                               ', N'Uploads\19_COURSE\272_TOPIC\194_ANMO                                                                                                                                                                                                                           ')
INSERT [dbo].[Submissions] ([ID], [StudentID], [CourseID], [TopicID], [UploadDate], [MIMEType], [FilePath]) VALUES (3, 194, 12, 172, CAST(0x5B350B00 AS Date), N'zip                                               ', N'Uploads\12_COURSE\172_TOPIC\194_ANMO                                                                                                                                                                                                                           ')
SET IDENTITY_INSERT [dbo].[Submissions] OFF
/****** Object:  ForeignKey [FK_StudentsCourses_Courses]    Script Date: 02/23/2012 06:26:56 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StudentsCourses_Courses]') AND parent_object_id = OBJECT_ID(N'[dbo].[StudentsCourses]'))
ALTER TABLE [dbo].[StudentsCourses]  WITH CHECK ADD  CONSTRAINT [FK_StudentsCourses_Courses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StudentsCourses_Courses]') AND parent_object_id = OBJECT_ID(N'[dbo].[StudentsCourses]'))
ALTER TABLE [dbo].[StudentsCourses] CHECK CONSTRAINT [FK_StudentsCourses_Courses]
GO
/****** Object:  ForeignKey [FK_StudentsCourses_Students]    Script Date: 02/23/2012 06:26:56 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StudentsCourses_Students]') AND parent_object_id = OBJECT_ID(N'[dbo].[StudentsCourses]'))
ALTER TABLE [dbo].[StudentsCourses]  WITH CHECK ADD  CONSTRAINT [FK_StudentsCourses_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_StudentsCourses_Students]') AND parent_object_id = OBJECT_ID(N'[dbo].[StudentsCourses]'))
ALTER TABLE [dbo].[StudentsCourses] CHECK CONSTRAINT [FK_StudentsCourses_Students]
GO
/****** Object:  ForeignKey [FK_Topics_Courses]    Script Date: 02/23/2012 06:26:56 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Topics_Courses]') AND parent_object_id = OBJECT_ID(N'[dbo].[Topics]'))
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_Topics_Courses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Topics_Courses]') AND parent_object_id = OBJECT_ID(N'[dbo].[Topics]'))
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_Topics_Courses]
GO
/****** Object:  ForeignKey [FK_Submissions_Courses]    Script Date: 02/23/2012 06:26:56 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Submissions_Courses]') AND parent_object_id = OBJECT_ID(N'[dbo].[Submissions]'))
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Courses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Submissions_Courses]') AND parent_object_id = OBJECT_ID(N'[dbo].[Submissions]'))
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Courses]
GO
/****** Object:  ForeignKey [FK_Submissions_Students]    Script Date: 02/23/2012 06:26:56 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Submissions_Students]') AND parent_object_id = OBJECT_ID(N'[dbo].[Submissions]'))
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Submissions_Students]') AND parent_object_id = OBJECT_ID(N'[dbo].[Submissions]'))
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Students]
GO
/****** Object:  ForeignKey [FK_Submissions_Topics]    Script Date: 02/23/2012 06:26:56 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Submissions_Topics]') AND parent_object_id = OBJECT_ID(N'[dbo].[Submissions]'))
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Topics] FOREIGN KEY([TopicID])
REFERENCES [dbo].[Topics] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Submissions_Topics]') AND parent_object_id = OBJECT_ID(N'[dbo].[Submissions]'))
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Topics]
GO
