/*/*/*/obj
/*/*/*/bin
/*/*/*/bin/Debug
/*/*/*/_ReSHarper.*
/*/*/*/*.csproj.user
/*/*/*/*.csproj
/*/*/*/*resharper.user
/*/*/*/*.resharper
/*/*/*/*.suo
/*/*/*/*.cache
/*/*/*/*.svn
/*/*/*/*/.svn
/*/*/*/*~
/*/*/*/*.swp
/*/*/*/obj
/*/*/*/*/bin
/*/*/*/*/bin/Debug
/*/*/*/*_ReSHarper.*
/*/*/*/*/*.csproj.user
/*/*/*/*/*.csproj
/*/*/*/*/*resharper.user
/*/*/*/*/*.resharper
/*/*/*/*/*.suo
/*/*/*/*/*.cache
/*/*/*/*/*~
/*/*/*/*/*.swp
/*/*/*/*/*.svn
/*/*/*/*/*/.svn
obj
bin
Debug
*.csproj.user
*.csproj
*resharper.user
*.resharper
*.suo
.svn
*.cache
*~
*.swp