/* browser styles reset */
body{margin:0;padding:0;}

body
{
	background:#fff;
	color:#000;
	font:62.5% arial,sans-serif;
}

table
{
	border-spacing:0;
	border-collapse:separate;
	border:solid #ccc;
	border-width:0 1px 1px 0;
	margin:1em;
	font-size:1.2em;
}

.col1{width:200px;background-color:red;}
.col2,.col3{width:150px;}

.row
{
	background:#f3f3f3;
}

.altrow
{
	background:#ccc;
}

th,
td
{
	padding:.4em .8em;
}

th
{
	border:1px solid;
	border-color:#aaa #9c9 #060 #060;
	background:repeat-x #4eb204 url('header.png');
	font-weight:normal;
}

td
{
	border-style:solid;
	border-width:0 1px;
	border-right-color:#eee;
	border-left-color:#ccc;
}

.first
{
	border-left-color:#ccc;
}

.last
{
	border-right-width:0;
}

img
{
	margin-right:20px;
}