<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HomeworkSubmissionEntities" connectionString="metadata=res://*/HomeworkSubmission.csdl|res://*/HomeworkSubmission.ssdl|res://*/HomeworkSubmission.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=HomeworkSubmission;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>