@using HomeworkSubmission.MVC.Models
@model StudentViewModel

@{
    ViewBag.Title = "My Courses";
}

<p>@ViewBag.Hello</p>

<h3>
  Please select a course:
</h3>
@using (Html.BeginForm("Home", "Home", FormMethod.Get))
{
    @Html.DropDownListFor(x => x.Courses, new SelectList(Model.Courses, "ID", "Name"),
        "---Select a Course---", new { onchange = "this.form.submit();" })
    <h3>
  Select a topic for this course:
</h3>
    @Html.DropDownList("Topics", new SelectList(ViewBag.Topics, "ID", "Name"), "--Select a Topic---");


    
    @Html.Hidden("academyID", Model.AcademyID)


}




