@{
    ViewBag.Title = "Home Page";
}
<div class=message-error>@ViewBag.Message</div>
<h3>Hello Student</h3>

<p>Please enter your Academy ID: (ex. <strong>@ViewBag.RandomID</strong>)</p>
@using (Html.BeginForm("Home", "Home", FormMethod.Get))
{
@Html.TextBox("AcademyID")
    <input type="submit" value="view my courses" />
}
