@{
    ViewBag.Title = "Home Page";
}

            @ViewBag.topic </ br>
            @ViewBag.courseID </ br>
            @ViewBag.academyID </ br>

<div class=message-error>@ViewBag.Message</div>
Y0 bro!