     #left_panel 
     {
       float:left;
         height: 672px;
         width: 262px;
         border: 2px solid black;
         text-align:center;
         margin-right: -2px;
     }
     #main_panel
     {
		width:680px;
		float:left;
		height: 672px;
    	border: 2px solid black;
     }
     p {
		 line-height:12px;
	 }
	 img {
		margin:-3px;0;0;0;padding:0px; 
	 }
     h1
     {
         text-align:center;
     }

     .book
     {
         padding: 15px;
     }
	 .thumb{
		margin:-3px;0;0;0;padding:0px; 
	 }

     ul 
     {

         list-style-type: none;
     }
     ul li 
     {
           font-weight:bold;
       margin-top:5px;
	   margin-bottom:5px;
	  
     }

	 .root_li {
		 margin-top:20px;

	 }

	 ul li ul li {
		 

		       font-weight: normal; 
	 }
